<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samo's Projects - Início</title>
    <link rel="stylesheet" href="../css-js/css/index-registro-login/index.css">
    
    
</head>
<body>
    <header>
        <div class="none" id="index"><a href="/"><h1>Samo's Projects</h1></a></div>
        <div class="none" id="none"></div>
        <div class="user"><a href="/login"><div><p>Login</p></div></a></div>
        <div class="user"><a href="/registro"><div><p>Registre-se</p></div></a></div>

        <div id="menu">
            
            <div class="linha1"></div>
            <div class="linha2"></div>
            <div class="linha3"></div>
        
        </div>
        
        <div id="replace">
            <div id="menureplace">
                <div class="linha11"></div>
                <div class="linha22"></div>
                <div class="linha33"></div>
            </div>
            <div class="replacediv"><p><a href="/login">Login</a></p></div>
            <div class="replacediv"><p><a href="/registro">Registre-se</a></p></div>
            

        </div>

        
    </header>

    <main>

        <h1>Boas vindas ao meu projeto.</h1>
        <hr>


        
        <article id="content">
            <p>Seja bem-vindo.</p>
            <p>Olá me chamo <strong>Samuel Pedro Dopke</strong> e desenvolvi totalmente este projeto.</p>  
            <p>Para se conectar a minha rede de projetos você deve fazer o registro e login neste site.</p>
        </article>

        
            

        
        


    </main>

    <div id="containerfooter">
        <footer id="footer">
                <p>Desenvolvedor: Samuel Pedro Dopke</p>
        </footer>

    </div>
    
</body>
</html>
<script src="../css-js/js/index-registro-login/index.js"></script>