<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samo's Project - Página Principal</title>
    <link rel="stylesheet" href="../css/indexlogin.css">
</head>
<body>
   {{#if register}}

<h1>Bem-Vindo {{register.nome}}</h1>
    

















{{/if}} 
</body>
</html>
