<link rel="stylesheet" href="../css-js/css/_msg/msg.css">

{{#if success_msg}}
    <div class="success">{{success_msg}}</div>
{{/if}}

    {{#if error_msg}}
        
        
            <div id="divmsg">{{error_msg}}</div>


    {{/if}}
    <script src="../css-js/js/msg-js/msg.js"></script>